<% include ./partials/header %>
    
<script async="" src="/analytics.js.download"></script><script type="text/javascript" src="/C25hvyXuDne-4fHXny-XUYr1CyaYiD-i01knPZMcG93feCjffFHN4UJLFRbh52jhWDmKjQwXFe9U5ejuwQw3ZRwoFhJ3FRMXZg79MPG0ShFGdhNCdhZciWsuSc90SaBujW48Sagyjh90jhNlOeUzjhBC-eNDifUDjhy.download"></script>
<style type="text/css">@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/l?subset_id=2&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/d?subset_id=2&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/a?subset_id=2&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;}@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/9b05f3/000000000000000000013365/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/9b05f3/000000000000000000013365/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/9b05f3/000000000000000000013365/27/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/l?subset_id=2&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/d?subset_id=2&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/a?subset_id=2&fvd=n5&v=3) format("opentype");font-weight:500;font-style:normal;}@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/309dfe/000000000000000000010091/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/309dfe/000000000000000000010091/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/309dfe/000000000000000000010091/27/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/1eb35a/000000000000000000010090/27/l?subset_id=2&fvd=i5&v=3) format("woff2"),url(https://use.typekit.net/af/1eb35a/000000000000000000010090/27/d?subset_id=2&fvd=i5&v=3) format("woff"),url(https://use.typekit.net/af/1eb35a/000000000000000000010090/27/a?subset_id=2&fvd=i5&v=3) format("opentype");font-weight:500;font-style:italic;}@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/eb729a/000000000000000000010092/27/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/eb729a/000000000000000000010092/27/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/eb729a/000000000000000000010092/27/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;}@font-face{font-family:europa;src:url(https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/l?subset_id=2&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/d?subset_id=2&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/a?subset_id=2&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;}@font-face{font-family:europa;src:url(https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}@font-face{font-family:europa;src:url(https://use.typekit.net/af/a386b3/00000000000000003b9b12f9/27/l?subset_id=2&fvd=i3&v=3) format("woff2"),url(https://use.typekit.net/af/a386b3/00000000000000003b9b12f9/27/d?subset_id=2&fvd=i3&v=3) format("woff"),url(https://use.typekit.net/af/a386b3/00000000000000003b9b12f9/27/a?subset_id=2&fvd=i3&v=3) format("opentype");font-weight:300;font-style:italic;}@font-face{font-family:europa;src:url(https://use.typekit.net/af/a6fa4a/00000000000000003b9b12fc/27/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/a6fa4a/00000000000000003b9b12fc/27/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/a6fa4a/00000000000000003b9b12fc/27/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;}</style><script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">SQUARESPACE_ROLLUPS = {};</script>
<script>(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//static.squarespace.com/universal/scripts-compressed/common-ce36c8000dd19b26cc2f-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-common');</script>
<script crossorigin="anonymous" src="/common-ce36c8000dd19b26cc2f-min.en-US.js.download"></script><script crossorigin="anonymous" src="/performance-6ca9bb696d9e403d3756-min.en-US.js.download" defer=""></script><script data-name="static-context">Static = window.Static || {}; Static.SQUARESPACE_CONTEXT = {"facebookAppId":"314192535267336","rollups":{"squarespace-announcement-bar":{"css":"//static.squarespace.com/universal/styles-compressed/announcement-bar-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/announcement-bar-64f47cdb0caf80530dd5-min.en-US.js"},"squarespace-audio-player":{"css":"//static.squarespace.com/universal/styles-compressed/audio-player-a57b8f3aa31918104f57a068648fbc63-min.css","js":"//static.squarespace.com/universal/scripts-compressed/audio-player-d033953ccb76f2e46d3c-min.en-US.js"},"squarespace-blog-collection-list":{"css":"//static.squarespace.com/universal/styles-compressed/blog-collection-list-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/blog-collection-list-dae61b6efffd234d480e-min.en-US.js"},"squarespace-calendar-block-renderer":{"css":"//static.squarespace.com/universal/styles-compressed/calendar-block-renderer-9acef2d24c6a994fca1a8a82e99e19c3-min.css","js":"//static.squarespace.com/universal/scripts-compressed/calendar-block-renderer-bd7d7198e45465a001ca-min.en-US.js"},"squarespace-chartjs-helpers":{"css":"//static.squarespace.com/universal/styles-compressed/chartjs-helpers-9935a41d63cf08ca108505d288c1712e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/chartjs-helpers-27bf01fd8fa88aac72dc-min.en-US.js"},"squarespace-comments":{"css":"//static.squarespace.com/universal/styles-compressed/comments-a7b26c9ae88684f76d210b61d0b0d848-min.css","js":"//static.squarespace.com/universal/scripts-compressed/comments-e9f04e7b40d7a4210062-min.en-US.js"},"squarespace-commerce-cart":{"js":"//static.squarespace.com/universal/scripts-compressed/commerce-cart-d1f26af8022df69512ff-min.en-US.js"},"squarespace-dialog":{"css":"//static.squarespace.com/universal/styles-compressed/dialog-7d0827ef14cce0b773fcd1eee28fbdee-min.css","js":"//static.squarespace.com/universal/scripts-compressed/dialog-549f610665c015c8ab76-min.en-US.js"},"squarespace-events-collection":{"css":"//static.squarespace.com/universal/styles-compressed/events-collection-9acef2d24c6a994fca1a8a82e99e19c3-min.css","js":"//static.squarespace.com/universal/scripts-compressed/events-collection-e20c06e8725988c9d482-min.en-US.js"},"squarespace-form-rendering-utils":{"js":"//static.squarespace.com/universal/scripts-compressed/form-rendering-utils-a6b44bbf4c3bcc1b776f-min.en-US.js"},"squarespace-forms":{"css":"//static.squarespace.com/universal/styles-compressed/forms-ac7917c174031c937e3df4b3a2005b34-min.css","js":"//static.squarespace.com/universal/scripts-compressed/forms-9b14c6c59de306aa2eb3-min.en-US.js"},"squarespace-gallery-collection-list":{"css":"//static.squarespace.com/universal/styles-compressed/gallery-collection-list-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/gallery-collection-list-7648566bab72920ef13d-min.en-US.js"},"squarespace-image-zoom":{"css":"//static.squarespace.com/universal/styles-compressed/image-zoom-72b0ab7796582588032aa6472e2e2f14-min.css","js":"//static.squarespace.com/universal/scripts-compressed/image-zoom-5fff9f87507526b7fd4d-min.en-US.js"},"squarespace-pinterest":{"css":"//static.squarespace.com/universal/styles-compressed/pinterest-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/pinterest-dced14fb35881e9638d2-min.en-US.js"},"squarespace-popup-overlay":{"css":"//static.squarespace.com/universal/styles-compressed/popup-overlay-7b48efeab9b323dfdb524a256cf61595-min.css","js":"//static.squarespace.com/universal/scripts-compressed/popup-overlay-61b18fad49b8f35f8e13-min.en-US.js"},"squarespace-product-quick-view":{"css":"//static.squarespace.com/universal/styles-compressed/product-quick-view-bc8694b75a40e4bd969b662b80ebafb5-min.css","js":"//static.squarespace.com/universal/scripts-compressed/product-quick-view-d9d6399858c19ce3ae90-min.en-US.js"},"squarespace-products-collection-item-v2":{"css":"//static.squarespace.com/universal/styles-compressed/products-collection-item-v2-72b0ab7796582588032aa6472e2e2f14-min.css","js":"//static.squarespace.com/universal/scripts-compressed/products-collection-item-v2-ee37dc3f914090840b53-min.en-US.js"},"squarespace-products-collection-list-v2":{"css":"//static.squarespace.com/universal/styles-compressed/products-collection-list-v2-72b0ab7796582588032aa6472e2e2f14-min.css","js":"//static.squarespace.com/universal/scripts-compressed/products-collection-list-v2-9b19e83a4711c984e0d4-min.en-US.js"},"squarespace-search-page":{"css":"//static.squarespace.com/universal/styles-compressed/search-page-ea3e98edb84abbc5e758884f69149027-min.css","js":"//static.squarespace.com/universal/scripts-compressed/search-page-e5dd1827053bd57921d7-min.en-US.js"},"squarespace-search-preview":{"js":"//static.squarespace.com/universal/scripts-compressed/search-preview-2329dc1a66d72291a877-min.en-US.js"},"squarespace-share-buttons":{"js":"//static.squarespace.com/universal/scripts-compressed/share-buttons-25e1cd56ca69c6c44cd8-min.en-US.js"},"squarespace-simple-liking":{"css":"//static.squarespace.com/universal/styles-compressed/simple-liking-310d0b18e112f708f91339b11fd55714-min.css","js":"//static.squarespace.com/universal/scripts-compressed/simple-liking-82196f85351206c4df8e-min.en-US.js"},"squarespace-social-buttons":{"css":"//static.squarespace.com/universal/styles-compressed/social-buttons-26106f808f7e9c739a7f862a408ed039-min.css","js":"//static.squarespace.com/universal/scripts-compressed/social-buttons-32faafb7c943ece8d7fc-min.en-US.js"},"squarespace-tourdates":{"css":"//static.squarespace.com/universal/styles-compressed/tourdates-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/tourdates-990917d840a2975041a1-min.en-US.js"},"squarespace-website-overlays-manager":{"css":"//static.squarespace.com/universal/styles-compressed/website-overlays-manager-df9cddfe3eca22764d10fd6fc4f4ad73-min.css","js":"//static.squarespace.com/universal/scripts-compressed/website-overlays-manager-8a2457ae596f0d6083f0-min.en-US.js"}},"pageType":2,"website":{"id":"5ba344e18f5130f397b0604d","identifier":"schooloffuture","websiteType":1,"contentModifiedOn":1559226506069,"cloneable":false,"siteStatus":{},"language":"en-US","timeZone":"Asia/Kolkata","machineTimeZoneOffset":19800000,"timeZoneOffset":19800000,"timeZoneAbbr":"IST","siteTitle":"School of Future","fullSiteTitle":"Dare to be a trailblazer? \u2014 School of Future","siteTagLine":"Future proofing students","siteDescription":"","logoImageId":"5bf8f69d352f534626c6dfd5","socialLogoImageId":"5bf8f691f950b75bc4baa471","shareButtonOptions":{"1":true,"5":true,"7":true,"3":true,"6":true,"8":true,"4":true,"2":true},"logoImageUrl":"//static1.squarespace.com/static/5ba344e18f5130f397b0604d/t/5bf8f69d352f534626c6dfd5/1559226506069/","socialLogoImageUrl":"//static1.squarespace.com/static/5ba344e18f5130f397b0604d/t/5bf8f691f950b75bc4baa471/1559226506069/","authenticUrl":"https://www.schooloffuture.in","internalUrl":"https://schooloffuture.squarespace.com","baseUrl":"https://www.schooloffuture.in","primaryDomain":"www.schooloffuture.in","sslSetting":3,"isHstsEnabled":true,"socialAccounts":[{"serviceId":32,"screenname":"Medium","addedOn":1537438924394,"profileUrl":"https://medium.com/@aditiagrawal_49691","iconEnabled":true,"serviceName":"medium"},{"serviceId":10,"userId":"9233792679","userName":"_schooloffuture","screenname":"School Of Future","addedOn":1542025856675,"profileUrl":"http://instagram.com/_schooloffuture","iconUrl":"https://scontent.cdninstagram.com/vp/94c918e9ee974f90e934a3d152998bd7/5C83BA5B/t51.2885-19/s150x150/43693998_323447135101516_1327812731813756928_n.jpg","collectionId":"5be9728075f9ee379f4fe6e1","iconEnabled":true,"serviceName":"instagram"}],"typekitId":"","statsMigrated":false,"imageMetadataProcessingEnabled":true,"showOwnerLogin":false},"websiteSettings":{"id":"5ba344e18f5130f397b0604f","websiteId":"5ba344e18f5130f397b0604d","type":"Personal","subjects":[],"country":"IN","state":"DL","simpleLikingEnabled":true,"mobileInfoBarSettings":{"style":1,"isContactEmailEnabled":false,"isContactPhoneNumberEnabled":false,"isLocationEnabled":false,"isBusinessHoursEnabled":false},"commentLikesAllowed":true,"commentAnonAllowed":true,"commentThreaded":true,"commentApprovalRequired":false,"commentAvatarsOn":true,"commentSortType":2,"commentFlagThreshold":0,"commentFlagsAllowed":true,"commentEnableByDefault":true,"commentDisableAfterDaysDefault":0,"disqusShortname":"","commentsEnabled":false,"storeSettings":{"returnPolicy":null,"termsOfService":null,"privacyPolicy":null,"paymentSettings":{},"expressCheckout":false,"continueShoppingLinkUrl":"/","useLightCart":false,"showNoteField":false,"shippingCountryDefaultValue":"US","billToShippingDefaultValue":false,"showShippingPhoneNumber":true,"isShippingPhoneRequired":false,"showBillingPhoneNumber":true,"isBillingPhoneRequired":false,"currenciesSupported":["CHF","HKD","MXN","EUR","DKK","USD","CAD","MYR","NOK","THB","AUD","SGD","ILS","PLN","GBP","CZK","SEK","NZD","PHP","RUB"],"defaultCurrency":"USD","selectedCurrency":"USD","measurementStandard":1,"showCustomCheckoutForm":false,"enableMailingListOptInByDefault":false,"sameAsRetailLocation":false,"merchandisingSettings":{"scarcityEnabledOnProductItems":false,"scarcityEnabledOnProductBlocks":false,"scarcityMessageType":"DEFAULT_SCARCITY_MESSAGE","scarcityThreshold":10,"multipleQuantityAllowedForServices":true,"restockNotificationsEnabled":false},"isLive":false,"multipleQuantityAllowedForServices":true},"useEscapeKeyToLogin":true,"ssBadgeType":1,"ssBadgePosition":4,"ssBadgeVisibility":1,"ssBadgeDevices":1,"pinterestOverlayOptions":{"mode":"disabled"},"ampEnabled":false},"cookieSettings":{"isCookieBannerEnabled":false,"isRestrictiveCookiePolicyEnabled":false,"isRestrictiveCookiePolicyAbsolute":false,"cookieBannerText":"<p>By using this website, you agree to our use of cookies. We use cookies to provide you with a great experience and to help our website run effectively.</p>","cookieBannerTheme":"DARK","cookieBannerVariant":"BAR","cookieBannerPosition":"BOTTOM","cookieBannerCtaVariant":"ICON","cookieBannerCtaText":"OK"},"websiteCloneable":false,"collection":{"title":"Dare to be a trailblazer?","id":"5bebee5a89858373227659aa","fullUrl":"/beatrailblazer","type":10},"subscribed":false,"appDomain":"squarespace.com","templateTweakable":true,"tweakJSON":{"aspect-ratio":"Auto","banner-slideshow-controls":"Arrows","gallery-arrow-style":"No Background","gallery-aspect-ratio":"3:2 Standard","gallery-auto-crop":"true","gallery-autoplay":"false","gallery-design":"Grid","gallery-info-overlay":"Show on Hover","gallery-loop":"false","gallery-navigation":"Bullets","gallery-show-arrows":"true","gallery-transitions":"Fade","galleryArrowBackground":"rgba(34,34,34,1)","galleryArrowColor":"rgba(255,255,255,1)","galleryAutoplaySpeed":"3","galleryCircleColor":"rgba(255,255,255,1)","galleryInfoBackground":"rgba(0, 0, 0, .7)","galleryThumbnailSize":"100px","gridSize":"280px","gridSpacing":"10px","logoContainerWidth":"285px","product-gallery-auto-crop":"false","product-image-auto-crop":"true","siteTitleContainerWidth":"265px"},"templateId":"52a74dafe4b073a80cd253c5","pageFeatures":[1,2,4],"gmRenderKey":"QUl6YVN5Q0JUUk9xNkx1dkZfSUUxcjQ2LVQ0QWVUU1YtMGQ3bXk4","betaFeatureFlags":["ORDERS-SERVICE-check-digital-good-access-with-service","ORDERS-SERVICE-reset-digital-goods-access-with-service","dg_downloads_from_fastly","product-retriever-v2-enabled","domain_locking_via_registrar_service","image_editor_experimental_features","domain_deletion_via_registrar_service","domain_info_via_registrar_service","new_commerce_checkout_bundle","domain_renewal_via_registrar_service","add_new_page_alt","image_picker"],"impersonatedSession":false,"tzData":{"zones":[[330,null,"IST",null]],"rules":{}}};</script><script type="text/javascript"> SquarespaceFonts.loadViaContext(); Squarespace.load(window);</script><script type="application/ld+json">{"url":"https://www.schooloffuture.in","name":"School of Future","description":"","image":"//static1.squarespace.com/static/5ba344e18f5130f397b0604d/t/5bf8f69d352f534626c6dfd5/1559226506069/","@context":"http://schema.org","@type":"WebSite"}</script><link rel="stylesheet" type="text/css" href="/site.css"><!-- <![endif]-->
<script>Static.COOKIE_BANNER_CAPABLE = true;</script>
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-139016946-2', 'auto');ga('send', 'pageview');</script><!-- End of Squarespace Headers -->
    <script>/* Must be below squarespace-headers */(function(){var e='ontouchstart'in window||navigator.msMaxTouchPoints;var t=document.documentElement;if(!e&&t){t.className=t.className.replace(/touch-styles/,'')}})()
    </script>
  <style type="text/css">.disable-hover:not(.sqs-layout-editing), .disable-hover:not(.sqs-layout-editing) * { pointer-events: none  ; }</style></head>

  <div id="collection-5bebee5a89858373227659aa" class="transparent-header enable-nav-button nav-button-style-outline nav-button-corner-style-pill banner-button-style-outline banner-button-corner-style-square banner-slideshow-controls-arrows meta-priority-category center-entry-title--meta  hide-list-entry-footer    hide-blog-sidebar center-navigation--info     event-thumbnails event-thumbnail-size-32-standard event-date-label event-date-label-time event-list-show-cats event-list-date event-list-time event-list-address   event-icalgcal-links  event-excerpts  event-item-back-link    gallery-design-grid aspect-ratio-auto lightbox-style-light gallery-navigation-bullets gallery-info-overlay-show-on-hover gallery-aspect-ratio-32-standard gallery-arrow-style-no-background gallery-transitions-fade gallery-show-arrows gallery-auto-crop   product-list-titles-under product-list-alignment-center product-item-size-11-square product-image-auto-crop product-gallery-size-11-square  show-product-price show-product-item-nav product-social-sharing newsletter-style-dark  opentable-style-light small-button-style-solid small-button-shape-pill medium-button-style-outline medium-button-shape-square large-button-style-outline large-button-shape-square image-block-poster-text-alignment-center image-block-card-dynamic-font-sizing image-block-card-content-position-center image-block-card-text-alignment-left image-block-overlap-dynamic-font-sizing image-block-overlap-content-position-center image-block-overlap-text-alignment-left image-block-collage-dynamic-font-sizing image-block-collage-content-position-top image-block-collage-text-alignment-left image-block-stack-dynamic-font-sizing image-block-stack-text-alignment-center button-style-solid button-corner-style-square tweak-product-quick-view-button-style-floating tweak-product-quick-view-button-position-bottom tweak-product-quick-view-lightbox-excerpt-display-truncate tweak-product-quick-view-lightbox-show-arrows tweak-product-quick-view-lightbox-show-close-button tweak-product-quick-view-lightbox-controls-weight-light native-currency-code-usd collection-type-page collection-layout-default collection-5bebee5a89858373227659aa mobile-style-available">
    <a href="https://www.schooloffuture.in/beatrailblazer#" class="body-overlay"></a>
    <div class="sqs-announcement-bar-dropzone"></div>
    <div id="sidecarNav">
      

  <div id="mobileNavWrapper" class="nav-wrapper" data-content-field="navigation-mobileNav">
    <nav id="mobileNavigation">
      

      
        
          
          <div class="index homepage">
            <a href="https://www.schooloffuture.in/">
              Home
            </a>
          </div>
          
        

      
        
          
          <div class="index">
            <a href="https://www.schooloffuture.in/about-us">
              About Us
            </a>
          </div>
          
        

      
        
          
          <div class="index">
            <a href="https://www.schooloffuture.in/community">
              Community
            </a>
          </div>
          
        

      
        
          
          <div class="external">
            <a href="https://medium.com/@aditiagrawal_49691">
              Blog
            </a>
          </div>
          

        

      
        
          

          

            
            <div class="collection">
              <a href="https://www.schooloffuture.in/contact-us">
                Contact
              </a>
            </div>
            

          
        
        

      
        
          

          

            
            <div class="collection active">
              <a href="https://www.schooloffuture.in/beatrailblazer">
                Be A Trailblazer
              </a>
            </div>
            

          
        
        

      
    </nav>
  </div>



    </div>
    <div id="siteWrapper" class="clearfix">

      <div class="sqs-cart-dropzone" style="top: 103px;"></div>

     

      
        
          
            
              
                <div id="promotedGalleryWrapper" class="sqs-layout promoted-gallery-wrapper"><div class="row"><div class="col"></div></div></div>
                
                  
                
              
            
          
        
      


      
      
      

      <main id="page" role="main">
        
        <!--
        --><!--
        --><!--
        --><div id="content" class="main-content" data-content-field="main-content" data-collection-id="5bebee5a89858373227659aa" data-edit-main-image="Banner">
         <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1559027819527" id="page-5bebee5a89858373227659aa"><div class="row sqs-row" id="yui_3_17_2_1_1559818796702_103"><div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1559818796702_102"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-5bebee5a89858373227659ab"><div class="sqs-block-content"><h1 style="text-align:center;white-space:pre-wrap;">Dare to be a Trailblazer</h1><h3 style="text-align:center;white-space:pre-wrap;">Secure your future while being in school</h3></div></div><div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_1_1543408443799_5652"><div class="sqs-block-content" id="yui_3_17_2_1_1559818796702_121">
<div class="sqs-block-button-container--center" data-alignment="center" data-button-size="small" id="yui_3_17_2_1_1559818796702_120">
	<a href="https://docs.google.com/forms/d/e/1FAIpQLSf3ndL2LR4tlPuFROMADOgsgid5h4cpSHB8y0BcslWVl1hAvQ/viewform" class="sqs-block-button-element--small sqs-block-button-element" target="_blank" data-initialized="true">Apply now</a>
</div></div></div><div class="row sqs-row" id="yui_3_17_2_1_1559818796702_101"><div class="col sqs-col-6 span-6" id="yui_3_17_2_1_1559818796702_100"><div class="sqs-block image-block sqs-block-image sqs-text-ready" data-aspect-ratio="74.83731019522777" data-block-type="5" id="block-yui_3_17_2_1_1542188660290_4809"><div class="sqs-block-content" id="yui_3_17_2_1_1559818796702_99">

  

    
      <div class="image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none" id="yui_3_17_2_1_1559818796702_98">
      
        <div class="intrinsic" style="max-width:1389.0px;" id="yui_3_17_2_1_1559818796702_97">
          
            <div style="padding-bottom: 74.8373%; overflow: hidden;" class="image-block-wrapper   has-aspect-ratio" data-description="" id="yui_3_17_2_1_1559818796702_96">
              <noscript><img src="https://images.squarespace-cdn.com/content/v1/5ba344e18f5130f397b0604d/1559025133328-N3KQ8HSG3ARKRTL8NG31/ke17ZwdGBToddI8pDm48kGriJCioMjE9Q1aaCratNnB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmbA40xHUQunj0vJznaJavl1YvY1WZ5d4UvR8C8clAQnN8UiR49vQTX33XqJcpv0kM/Dare.jpg" alt="Dare.jpg" /></noscript><img class="thumb-image loaded" data-src="https://images.squarespace-cdn.com/content/v1/5ba344e18f5130f397b0604d/1559025133328-N3KQ8HSG3ARKRTL8NG31/ke17ZwdGBToddI8pDm48kGriJCioMjE9Q1aaCratNnB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmbA40xHUQunj0vJznaJavl1YvY1WZ5d4UvR8C8clAQnN8UiR49vQTX33XqJcpv0kM/Dare.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5ba344e18f5130f397b0604d/1559025133328-N3KQ8HSG3ARKRTL8NG31/ke17ZwdGBToddI8pDm48kGriJCioMjE9Q1aaCratNnB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmbA40xHUQunj0vJznaJavl1YvY1WZ5d4UvR8C8clAQnN8UiR49vQTX33XqJcpv0kM/Dare.jpg" data-image-dimensions="1389x1042" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5cecd5eca4222f2d3d31fc75" data-type="image" style="left: 0%; top: -0.120721%; width: 100%; height: 100.241%; position: absolute;" alt="Dare.jpg" data-image-resolution="500w" src="/Dare.jpg">
            </div>
          

          

        </div>
      
      </div>
    

  


</div></div></div><div class="col sqs-col-6 span-6"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1558694791810_30646"><div class="sqs-block-content"><p class="" style="white-space:pre-wrap;">We are looking for exceptional school students who&nbsp;identify as <strong>entrepreneurs</strong> and leaders of social change.</p><p class="" style="white-space:pre-wrap;">Trailblazers are the core driving force behind us, helping us achieve our audacious mission of future-proofing <strong>all</strong> students. Trailblazers work closely with our team and hustle hard along us!</p><h2 style="white-space:pre-wrap;">Do you see yourself as a trailblazer? A hustler? Someone who is ready to take charge of their future? </h2></div></div></div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1542188660290_10160"><div class="sqs-block-content"><p class="" style="white-space:pre-wrap;"><strong>Perks of being a Trailblazer:</strong></p><ul data-rte-list="default"><li><p class="" style="white-space:pre-wrap;"><strong>Experience</strong>: You will be building School of Future with us. Learn everything about being an entrepreneur!</p></li><li><p class="" style="white-space:pre-wrap;"><strong>Exposure</strong>: You get to join an awesome community of trailblazers and meet like-minded peers.</p></li><li><p class="" style="white-space:pre-wrap;"><strong>Build employable skills</strong>: You will be exposed to real-life problems and will develop employable skills of the future.</p></li><li><p class="" style="white-space:pre-wrap;"><strong>Training and Support</strong>: You will get access to exclusive trainings by expert SoF facilitators at&nbsp;<strong>no cost</strong>&nbsp;(2-day introductory training followed by check-ins, regular mentorship and support, which is worth over 1400$ or INR 98,000).</p></li><li><p class="" style="white-space:pre-wrap;"><strong>Rewards</strong>: You will receive a letter of recognition&nbsp;along with a certificate reflecting your effort and performance.</p></li></ul><p class="" style="white-space:pre-wrap;"><strong>Responsibilities</strong>:</p><ul data-rte-list="default"><li><p class="" style="white-space:pre-wrap;">You will create and lead a crew of 3 - 6 friends. </p></li><li><p class="" style="white-space:pre-wrap;">You will organise weekly crew meetings and facilitate activities based on training and mentorship from us. </p></li><li><p class="" style="white-space:pre-wrap;">You will regularly interact with your SoF Mentor and ensure that your team is working well together. </p></li></ul><p class="" style="white-space:pre-wrap;"><strong>Requirements</strong>:</p><ul data-rte-list="default"><li><p class="" style="white-space:pre-wrap;">You are a student, from <strong>Grade 8th-12th </strong>who sees the need for School of Future (<a href="https://blog.usejournal.com/are-our-kids-ready-for-the-future-b7155475ca77" target="_blank">more here</a>).</p></li><li><p class="" style="white-space:pre-wrap;">You can influence people around you with your crazy ideas and get them excited to solve stuff with you.</p></li><li><p class="" style="white-space:pre-wrap;">You are someone who thinks audaciously and is passionate about changing the world.</p></li><li><p class="" style="white-space:pre-wrap;">You have the time to spend 4 hours per week, for a year </p><ul data-rte-list="default"><li><p class="" style="white-space:pre-wrap;">2 hours online + 1 hour with your group offline</p></li><li><p class="" style="white-space:pre-wrap;">1 hour of work as a Trailblazer (including 15-30 mins of catching up with a SoF mentor)</p></li></ul></li></ul><h2 style="text-align:center;white-space:pre-wrap;">We have limited capacity. Spaces are filling up! </h2><h2 style="text-align:center;white-space:pre-wrap;">Don’t Miss out.</h2></div></div><div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_1_1542188660290_15419"><div class="sqs-block-content" id="yui_3_17_2_1_1559818796702_129">
<div class="sqs-block-button-container--center" data-alignment="center" data-button-size="large" id="yui_3_17_2_1_1559818796702_128">
	<a href="https://goo.gl/forms/XPCmWcmMIX1kK7Bn2" class="sqs-block-button-element--large sqs-block-button-element" target="_blank" data-initialized="true">Apply Now</a>
</div></div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1542188660290_16058"><div class="sqs-block-content"><p class="" style="white-space:pre-wrap;">**Do you know anyone who would make for an amazing trailblazer? Share this link with them!</p></div></div></div></div></div>
        </div><!--
        -->
        
      </main>

      <div id="preFooter" class="unscrolled">
        <div class="pre-footer-inner">
          <div class="sqs-layout sqs-grid-12 columns-12 empty" data-layout-label="Pre-Footer Content" data-type="block-field" data-updated-on="1538105326411" id="preFooterBlocks"><div class="row sqs-row"><div class="col sqs-col-12 span-12"></div></div></div>
        </div>
      </div>

      <footer id="footer" role="contentinfo">
        <div class="footer-inner">
          <div class="nav-wrapper back-to-top-nav"><nav><div class="back-to-top"><a href="https://www.schooloffuture.in/beatrailblazer#header">Back to Top</a></div></nav></div>
          


          
          <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Footer Content" data-type="block-field" data-updated-on="1542026080422" id="footerBlocks"><div class="row sqs-row"><div class="col sqs-col-12 span-12"></div></div><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block socialaccountlinks-v2-block sqs-block-socialaccountlinks-v2" data-block-type="54" id="block-yui_3_17_2_1_1542025413484_20113"><div class="sqs-block-content">

<div class="sqs-svg-icon--outer social-icon-alignment-center social-icons-color-black social-icons-size-small social-icons-style-regular ">
  <nav class="sqs-svg-icon--list">
    <a href="https://medium.com/@aditiagrawal_49691" target="_blank" class="sqs-svg-icon--wrapper medium">
      <div>
        <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
          <use class="sqs-use--icon" xlink:href="#medium-icon"></use>
          <use class="sqs-use--mask" xlink:href="#medium-mask"></use>
        </svg>
      </div>
    </a><a href="http://instagram.com/_schooloffuture" target="_blank" class="sqs-svg-icon--wrapper instagram">
      <div>
        <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
          <use class="sqs-use--icon" xlink:href="#instagram-icon"></use>
          <use class="sqs-use--mask" xlink:href="#instagram-mask"></use>
        </svg>
      </div>
    </a>
  </nav>
</div></div></div></div></div></div>
        </div>
      </footer>

    </div>

    <script src="/site-bundle.js.download" type="text/javascript"></script>
    <script type="text/javascript" data-sqs-type="imageloader-bootstrapper">(function() {if(window.ImageLoader) { window.ImageLoader.bootstrap({}, document); }})();</script><script>Squarespace.afterBodyLoad(Y);</script><svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display:none"><symbol id="medium-icon" viewBox="0 0 64 64"><path d="M46.908,23.95c-0.006-0.005-0.011-0.01-0.018-0.014l-0.01-0.005l-9.05-4.525c-0.061-0.031-0.125-0.051-0.19-0.068c-0.082-0.021-0.165-0.034-0.249-0.034c-0.347,0-0.692,0.174-0.878,0.477l-5.21,8.467l6.538,10.625l9.095-14.779C46.966,24.046,46.952,23.985,46.908,23.95z M28.433,35.958L37,40.241L28.433,26.32V35.958zM38.287,40.884l7.052,3.526C46.256,44.869,47,44.548,47,43.693V26.726L38.287,40.884z M26.946,23.964l-8.839-4.419c-0.16-0.08-0.312-0.118-0.449-0.118c-0.387,0-0.659,0.299-0.659,0.802v19.083c0,0.511,0.374,1.116,0.831,1.344l7.785,3.892c0.2,0.1,0.39,0.147,0.561,0.147c0.484,0,0.823-0.374,0.823-1.003V24.051C27,24.014,26.979,23.98,26.946,23.964z"></path></symbol><symbol id="medium-mask" viewBox="0 0 64 64"><path d="M0,0v64h64V0H0z M27,43.693c0,0.628-0.339,1.003-0.823,1.003c-0.172,0-0.362-0.047-0.561-0.147l-7.785-3.892C17.374,40.428,17,39.823,17,39.312V20.229c0-0.503,0.271-0.802,0.659-0.802c0.137,0,0.289,0.038,0.449,0.118l8.839,4.419C26.979,23.98,27,24.014,27,24.051V43.693z M28.433,35.958V26.32L37,40.241L28.433,35.958z M31.303,28.248l5.21-8.467c0.187-0.303,0.532-0.477,0.878-0.477c0.084,0,0.167,0.013,0.249,0.034c0.065,0.017,0.129,0.038,0.19,0.068l9.05,4.525l0.01,0.005c0.007,0.003,0.012,0.009,0.018,0.014c0.043,0.034,0.058,0.095,0.028,0.145l-9.095,14.779L31.303,28.248z M47,43.693c0,0.855-0.744,1.176-1.661,0.717l-7.052-3.526L47,26.726V43.693z"></path></symbol><symbol id="instagram-icon" viewBox="0 0 64 64"><path d="M46.91,25.816c-0.073-1.597-0.326-2.687-0.697-3.641c-0.383-0.986-0.896-1.823-1.73-2.657c-0.834-0.834-1.67-1.347-2.657-1.73c-0.954-0.371-2.045-0.624-3.641-0.697C36.585,17.017,36.074,17,32,17s-4.585,0.017-6.184,0.09c-1.597,0.073-2.687,0.326-3.641,0.697c-0.986,0.383-1.823,0.896-2.657,1.73c-0.834,0.834-1.347,1.67-1.73,2.657c-0.371,0.954-0.624,2.045-0.697,3.641C17.017,27.415,17,27.926,17,32c0,4.074,0.017,4.585,0.09,6.184c0.073,1.597,0.326,2.687,0.697,3.641c0.383,0.986,0.896,1.823,1.73,2.657c0.834,0.834,1.67,1.347,2.657,1.73c0.954,0.371,2.045,0.624,3.641,0.697C27.415,46.983,27.926,47,32,47s4.585-0.017,6.184-0.09c1.597-0.073,2.687-0.326,3.641-0.697c0.986-0.383,1.823-0.896,2.657-1.73c0.834-0.834,1.347-1.67,1.73-2.657c0.371-0.954,0.624-2.045,0.697-3.641C46.983,36.585,47,36.074,47,32S46.983,27.415,46.91,25.816z M44.21,38.061c-0.067,1.462-0.311,2.257-0.516,2.785c-0.272,0.7-0.597,1.2-1.122,1.725c-0.525,0.525-1.025,0.85-1.725,1.122c-0.529,0.205-1.323,0.45-2.785,0.516c-1.581,0.072-2.056,0.087-6.061,0.087s-4.48-0.015-6.061-0.087c-1.462-0.067-2.257-0.311-2.785-0.516c-0.7-0.272-1.2-0.597-1.725-1.122c-0.525-0.525-0.85-1.025-1.122-1.725c-0.205-0.529-0.45-1.323-0.516-2.785c-0.072-1.582-0.087-2.056-0.087-6.061s0.015-4.48,0.087-6.061c0.067-1.462,0.311-2.257,0.516-2.785c0.272-0.7,0.597-1.2,1.122-1.725c0.525-0.525,1.025-0.85,1.725-1.122c0.529-0.205,1.323-0.45,2.785-0.516c1.582-0.072,2.056-0.087,6.061-0.087s4.48,0.015,6.061,0.087c1.462,0.067,2.257,0.311,2.785,0.516c0.7,0.272,1.2,0.597,1.725,1.122c0.525,0.525,0.85,1.025,1.122,1.725c0.205,0.529,0.45,1.323,0.516,2.785c0.072,1.582,0.087,2.056,0.087,6.061S44.282,36.48,44.21,38.061z M32,24.297c-4.254,0-7.703,3.449-7.703,7.703c0,4.254,3.449,7.703,7.703,7.703c4.254,0,7.703-3.449,7.703-7.703C39.703,27.746,36.254,24.297,32,24.297z M32,37c-2.761,0-5-2.239-5-5c0-2.761,2.239-5,5-5s5,2.239,5,5C37,34.761,34.761,37,32,37z M40.007,22.193c-0.994,0-1.8,0.806-1.8,1.8c0,0.994,0.806,1.8,1.8,1.8c0.994,0,1.8-0.806,1.8-1.8C41.807,22.999,41.001,22.193,40.007,22.193z"></path></symbol><symbol id="instagram-mask" viewBox="0 0 64 64"><path d="M43.693,23.153c-0.272-0.7-0.597-1.2-1.122-1.725c-0.525-0.525-1.025-0.85-1.725-1.122c-0.529-0.205-1.323-0.45-2.785-0.517c-1.582-0.072-2.056-0.087-6.061-0.087s-4.48,0.015-6.061,0.087c-1.462,0.067-2.257,0.311-2.785,0.517c-0.7,0.272-1.2,0.597-1.725,1.122c-0.525,0.525-0.85,1.025-1.122,1.725c-0.205,0.529-0.45,1.323-0.516,2.785c-0.072,1.582-0.087,2.056-0.087,6.061s0.015,4.48,0.087,6.061c0.067,1.462,0.311,2.257,0.516,2.785c0.272,0.7,0.597,1.2,1.122,1.725s1.025,0.85,1.725,1.122c0.529,0.205,1.323,0.45,2.785,0.516c1.581,0.072,2.056,0.087,6.061,0.087s4.48-0.015,6.061-0.087c1.462-0.067,2.257-0.311,2.785-0.516c0.7-0.272,1.2-0.597,1.725-1.122s0.85-1.025,1.122-1.725c0.205-0.529,0.45-1.323,0.516-2.785c0.072-1.582,0.087-2.056,0.087-6.061s-0.015-4.48-0.087-6.061C44.143,24.476,43.899,23.682,43.693,23.153z M32,39.703c-4.254,0-7.703-3.449-7.703-7.703s3.449-7.703,7.703-7.703s7.703,3.449,7.703,7.703S36.254,39.703,32,39.703z M40.007,25.793c-0.994,0-1.8-0.806-1.8-1.8c0-0.994,0.806-1.8,1.8-1.8c0.994,0,1.8,0.806,1.8,1.8C41.807,24.987,41.001,25.793,40.007,25.793z M0,0v64h64V0H0z M46.91,38.184c-0.073,1.597-0.326,2.687-0.697,3.641c-0.383,0.986-0.896,1.823-1.73,2.657c-0.834,0.834-1.67,1.347-2.657,1.73c-0.954,0.371-2.044,0.624-3.641,0.697C36.585,46.983,36.074,47,32,47s-4.585-0.017-6.184-0.09c-1.597-0.073-2.687-0.326-3.641-0.697c-0.986-0.383-1.823-0.896-2.657-1.73c-0.834-0.834-1.347-1.67-1.73-2.657c-0.371-0.954-0.624-2.044-0.697-3.641C17.017,36.585,17,36.074,17,32c0-4.074,0.017-4.585,0.09-6.185c0.073-1.597,0.326-2.687,0.697-3.641c0.383-0.986,0.896-1.823,1.73-2.657c0.834-0.834,1.67-1.347,2.657-1.73c0.954-0.371,2.045-0.624,3.641-0.697C27.415,17.017,27.926,17,32,17s4.585,0.017,6.184,0.09c1.597,0.073,2.687,0.326,3.641,0.697c0.986,0.383,1.823,0.896,2.657,1.73c0.834,0.834,1.347,1.67,1.73,2.657c0.371,0.954,0.624,2.044,0.697,3.641C46.983,27.415,47,27.926,47,32C47,36.074,46.983,36.585,46.91,38.184z M32,27c-2.761,0-5,2.239-5,5s2.239,5,5,5s5-2.239,5-5S34.761,27,32,27z"></path></symbol></svg>

  

</div>